body {
    background-color: black;
  }
  .poster h1 {
    text-transform: uppercase;
    font-size: 3rem;
  }
  .poster p {
    font-size: 2rem;
  }
  .poster {
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    font-family: "Sedan SC", serif;
    text-align: center;
  }
  
  .motivation-img {
    border: 5px solid white;
    width: 50%;
  }
  
