body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.img{
    top: 10%;
    height: 120px;
    width: 120px;
    float: right;
    position: relative;

}

h1 {
    color: #7289da;
}

h2 {
    color: #7289da;
}

hr {
    border: 1px solid #ccc;
    margin: 20px 0;
}

a {
    color: #7289da;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
